.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  background-color: #ffffff;
}